
@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@keyframes scaleIn {
  from {
    transform: scale(.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn .2s ease-out;
}